@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Inter:wght@400;500&amp;display=swap");

body{
    background: #000;
    color: #00bfff;
    cursor: none;
    font-family: "Inter", sans-serif;
}

.container {
    margin-top: 100px;
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px;
    color: #000;
}

#score {
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: #00BFFF;
    border-radius: 10px;
    color: #000;
    outline: 0;
    border: 0;
}

button:hover{
    background: #00bfffdb;
}

.circular-cursor {
  width: 20px;
  height: 20px;
  background-color: #00bfff9b;
  border-radius: 50%;
  position: fixed;
  border: 1px solid #00bfff;
  box-shadow: 0 0 20px #00bfff,
    0 0 60px #00bfff,
    0 0 100px #00bfff;
  pointer-events: none;
  z-index: 9999;
  left: -10px;
  top: -10px;
}

@media only screen and (max-width: 450px){
    .cell {
        width: 60px;
        height: 60px;
    }
    #grid-container {
        grid-template-columns: repeat(4, 60px);
    }
}